/* styles.css */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 600vh;
    position: relative;
}

.content-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 {
    top: 0;
    height: 100vh;
}

#section2 {
    top: 100vh;
}

#section3 {
    top: 200vh;
}

#section4 {
    top: 300vh;
}

#section5 {
    top: 400vh;
}

h1,
p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* section1 */
.section1-title {
    color: #6078BA;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Profile CSS */
.profile-container {
    margin-top: -7vh;
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.computer {
    width: 60%;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-detail {
    /* background-color: aqua; */
    margin-top: 80px;
    width: 20%;
    height: 30vh;
    position: absolute;
}

#profileDetail1,
#profileDetail2,
#profileDetail3 {
    text-align: left;
    padding-left: 35px;
}

/* 스킬셋 */

.skill-section {
    margin-top: 30px;
    position: relative;
    margin-left: 8%;
    width: 80%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box; 
}

.skill-section1,
.skill-section2,
.skill-section3,
.skill-section4 {
    width: 21%;
    margin-right: 2%;
    height: 100%;
    border: 2px solid #6078BA;
    box-sizing: border-box; 
}

.skill-sub-title{
    margin-left: 30%;
    margin-top: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
}

.skill-icon{
    width: 32%;
    height: auto;
    margin-left: 25px;
    margin-top: 20px;
}

/* 애니메이션 초기 상태 */
#section2 * {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* 애니메이션 효과가 추가된 상태 */
#section2.show * {
    opacity: 1;
    transform: translateY(0);
}

